extends layout

block vars
  - var title = "Create Event"

block content

  -
    sportsEnum = ["BADMINTON", "BASKETBALL", "BOWLING", "CRICKET", "EUROPEAN HANDBALL", "FIELD HOCKEY", "FLAG FOOTBALL",
    "HOCKEY", "LACROSSE", "RUGBY", "SOCCER", "SOFTBALL", "SQUASH", "TABLE TENNIS",
    "TENNIS", "TRACK MEET", "ULTIMATE FRISBEE", "VOLLEYBALL", "WATER POLO"]

  div.container-fluid
      div.col-sm-6.col-md-8
        #eventfields
          h1.text-left.event-title Create an Event
            div.createvent-wall
              form#createEvent(class='form-event', method='POST')
                input(type='text', name='title', class='form-control', placeholder='Title',required, autofocus)
                div.locationField
                  input#autocomplete(type='text', name='location', class='form-control controls', placeholder='Location', onFocus='geolocate()', required, autofocus)
                div.datetimepicker.input-group.date
                  input(type='text', name='date', class='form-control', placeholder='Date and Time')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
                select(name='type', class='form-control', placeholder='Activity',required, autofocus)
                  each item in sportsEnum
                    option= item
                textarea(name='description', cols='40', rows='10', class='form-control', placeholder='Description')
                input(type='number', name='numRequired', class='form-control', placeholder='Number of Players Required')
                button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
                span.clearfix