doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Scrum
    // Bootstrap Core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/css/landing.css', rel='stylesheet')
    // Custom Fonts
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') Scrum
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/login') Log In
            li
              a(href='/signup') Register
        // /.navbar-collapse
      // /.container
    // Header Carousel
    header#myCarousel.carousel.slide
      // Indicators
      .fill(style="background-image:url('/img/header.jpg');")
      //.carousel-caption
      //  h2 Recreational sports for the busy millennial
    // Page Content
    .container
      // Marketing Icons Section
      .row
        .col-lg-12
          h1.page-header
            | Welcome to Scrum
        .col-md-4
          .panel.panel-default
            .panel-heading
              h4
                i.fa.fa-fw.fa-calendar
                |  Low commitment
            .panel-body
              p
                | As we get older, we find it harder to commit to competitive sports. Scrum offers a way to participate in sports recreationally in a low commitment environment. 
        .col-md-4
          .panel.panel-default
            .panel-heading
              h4
                i.fa.fa-fw.fa-users
                |  Connect with new people
            .panel-body
              p
                | Playing sports is a great way to make new friends in a fun, inclusive environment! Come find other people around you to partake in your favourite sports. 
        .col-md-4
          .panel.panel-default
            .panel-heading
              h4
                i.fa.fa-fw.fa-futbol-o
                |  Variety of Sports
            .panel-body
              p
                | From basketball to broomball, we offer a variety of sports. Can't find your sport? No problem! Feel free to send a request to get your sport listed.
      // /.row
      // Recent Listings
      //.row
      //  .col-lg-12
      //    h2.page-header Recent Events
      //  .col-md-4.col-sm-6
      //    a(href='#')
      //      img.img-responsive.img-portfolio.img-hover(src='http://placehold.it/700x450', alt='')
      //  .col-md-4.col-sm-6
      //    a(href='#')
      //      img.img-responsive.img-portfolio.img-hover(src='http://placehold.it/700x450', alt='')
      //  .col-md-4.col-sm-6
      //    a(href='#')
      //      img.img-responsive.img-portfolio.img-hover(src='http://placehold.it/700x450', alt='')
      //  .col-md-4.col-sm-6
      //    a(href='#')
      //      img.img-responsive.img-portfolio.img-hover(src='http://placehold.it/700x450', alt='')
      //  .col-md-4.col-sm-6
      //    a(href='#')
      //      img.img-responsive.img-portfolio.img-hover(src='http://placehold.it/700x450', alt='')
      //  .col-md-4.col-sm-6
      //    a(href='#')
      //      img.img-responsive.img-portfolio.img-hover(src='http://placehold.it/700x450', alt='')
      // /.row
      // Features Section
      .row
        .col-lg-12
          h2.page-header About Us 
        .col-md-6
          p Scrum includes the following features:
          ul
            li Organize your own event
            li Search for existing events based on time, sport and location
            li Connect with other people around you 
          p
            | We're a group of three University of Toronto students in Computer Science who are passionate about helping you find your love for recreational sports again. Staying active and playing sports has numerous physical, social and psychological benefits! Yay sports.
        .col-md-6
          img.img-responsive(src='https://images.unsplash.com/photo-1434626982825-b030fb94f5be?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=765e963091cc5fe45d24905df796dab3', alt='')
      // /.row
      hr
      // Call to Action Section
      .well
        .row
          .col-md-8
            p What are you waiting for? Sign up now for more info!
          .col-md-4
            a.btn.btn-lg.btn-default.btn-block(href='/signup') Get Started
      hr
      // Footer
      footer
        .row
          .col-lg-12
            p Copyright © CSC309 Project
    // /.container
    // jQuery
    script(src='../js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='../js/bootstrap.min.js')
