doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/sweetalert.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js')
    script(src='/js/jquery.js')
    script(src='/js/scripts.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/sweetalert.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js")

  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
        if (user)
          a.navbar-brand(href='/home') Scrum
        else 
          a.navbar-brand(href='/') Scrum
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            - if (user){
              li
                a(href='/createEvent') Create Event
              li
                a(href='/profile') Profile
              li
                a(href='/signout') Sign Out
            - } else{
              li
                a(href='/login') Log In
              li
                a(href='/signup') Register
            - }
    block content